* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(rgb(255, 196, 0), rgb(0, 183, 255));
}
body #zar {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 20px;
  margin: 10px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .map {
  width: 750px;
  aspect-ratio: 1/1;
  padding: 5px;
  background-color: white;
}
body .map table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
}
body .map table td {
  width: 50px;
  height: 50px;
  border: 1px solid black;
}
body .map table .base {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: white;
  padding: 5px;
  margin: auto;
}
body .map table tr,
body .map table td {
  margin: 0;
}
body .map table .star {
  position: relative;
}
body .map table .star i {
  position: absolute;
  font-size: 30px;
  top: 10px;
  left: 10px;
}
body .map table h1 {
  width: 100%;
  text-align: center;
  color: white;
}
body .map table .position {
  max-width: 50px;
  aspect-ratio: 1/1;
  margin: auto;
}
body .map table .greenSolder {
  margin: 2px auto;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: green;
  border: 2px solid black;
}
body .map table .redSolder {
  margin: 2px auto;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: red;
  border: 2px solid black;
}
body .map table .blueSolder {
  margin: 2px auto;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: blue;
  border: 2px solid black;
}
body .map table .yellowSolder {
  margin: 2px auto;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: yellow;
  border: 2px solid black;
}
body .map table .redBase,
body .map table .redSolderPosition1,
body .map table .redSolderPosition52,
body .map table .redSolderPosition53,
body .map table .redSolderPosition54,
body .map table .redSolderPosition55,
body .map table .redSolderPosition56 {
  background-color: rgb(255, 78, 34);
}
body .map table .blueBase,
body .map table .blueSolderPosition1,
body .map table .blueSolderPosition52,
body .map table .blueSolderPosition53,
body .map table .blueSolderPosition54,
body .map table .blueSolderPosition55,
body .map table .blueSolderPosition56 {
  background-color: rgb(0, 238, 255);
}
body .map table .greenBase,
body .map table .greenSolderPosition1,
body .map table .greenSolderPosition52,
body .map table .greenSolderPosition53,
body .map table .greenSolderPosition54,
body .map table .greenSolderPosition55,
body .map table .greenSolderPosition56 {
  background-color: greenyellow;
}
body .map table .yellowBase,
body .map table .yellowSolderPosition1,
body .map table .yellowSolderPosition52,
body .map table .yellowSolderPosition53,
body .map table .yellowSolderPosition54,
body .map table .yellowSolderPosition55,
body .map table .yellowSolderPosition56 {
  background-color: rgb(255, 255, 107);
}
body .map table #win {
  background: conic-gradient(from 45deg at 50% 50%, rgb(255, 255, 107) 0%, rgb(255, 255, 107) 25%, rgb(0, 238, 255) 25.001%, rgb(0, 188, 212) 50%, rgb(173, 255, 47) 50.01%, rgb(173, 255, 47) 75%, rgb(255, 78, 34) 75.01%, rgb(255, 78, 34) 100%);
}/*# sourceMappingURL=style.css.map */